* {
    text-decoration: none;
    font-family: arial;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
}

th {
    padding: 10px;
    box-sizing: border-box;
    background-color: rgb(250, 180, 114);
}

input[type="file"],
input[type="date"],
div#el-tglttdasesor,
div#el-tglttdasesi {
    display: inline;
}

input[type="date"],
div#el-tglttdasesor,
div#el-tglttdasesi {
    width: 220px !important;
}

#bukti {
    width: 200px;
}

select[multiple] {
    overflow-y: auto;
    resize: vertical;
}

.judulrow {
    width: 210px;
}

@media screen and (max-width: 767px) {
    .tip {
        display: none !important;
    }
}
