.invoice-box {
    font-size: 14px;
    line-height: 21px;
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;

    max-width: 800px;
    margin: auto;
    padding: 30px;
    border: 1px solid #eee;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    /* font-size: 16px;
      line-height: 24px;
      font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; */
    color: #555;
}

.alamat {
    max-width: 400px;
    margin: auto;
    font-size: 11px;
    line-height: 12px;
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    text-align: left;
}
.kontak {
    max-width: 300px;
    margin: auto;
}

.footer {
    max-width: 400px;
    margin: auto;

    text-align: center;
}

.invoice-box table {
    width: 100%;
    line-height: inherit;
    text-align: left;
}

.invoice-box table td {
    padding: 5px;
    vertical-align: top;
}

.invoice-box table tr td:nth-child(2) {
    /* text-align: right; */
}

.invoice-box table tr.top table td {
    padding-bottom: 20px;
}

.invoice-box table tr.top table td.title {
    font-size: 45px;
    line-height: 45px;
    color: #333;
}

.invoice-box table tr.information table td {
    padding-bottom: 40px;
}

.invoice-box table tr.heading td {
    background: #eee;
    border-bottom: 1px solid #ddd;
    font-weight: bold;
}

.invoice-box table tr.details td {
    padding-bottom: 20px;
}

.invoice-box table tr.item td {
    border-bottom: 1px solid #eee;
}

.invoice-box table tr.item.last td {
    border-bottom: none;
}

.invoice-box table tr.total td:nth-child(2) {
    border-top: 2px solid #eee;
    font-weight: bold;
}
.ab {
    border-collapse: collapse;
    border: 2px #000 solid;
}
/* .bg {
    background-color:  #f2dcdb;
    color: #31489b;
  } */
.tab {
    text-align: center;
}
.yata {
    width: 10px;
}
textarea {
    width: 96%;
}
.ctt {
    width: 150px;
}
.kmntr {
    width: 100px;
}
.txtarea {
    width: 96%;
}
@media only screen and (max-width: 600px) {
    .kontak,
    .footer,
    .alamat {
        width: 100%;
        display: block;
        text-align: center;
    }
    .invoice-box table tr.top table td {
        width: 100%;
        display: block;
        text-align: center;
    }

    .invoice-box table tr.information table td {
        width: 100%;
        display: block;
        text-align: center;
    }
}

/** RTL **/
.rtl {
    direction: rtl;
    font-family: Tahoma, "Helvetica Neue", "Helvetica", Helvetica, Arial,
        sans-serif;
}

.rtl table {
    text-align: right;
}

.rtl table tr td:nth-child(2) {
    text-align: left;
}

/* table */
.table {
    overflow: auto;
}
.table table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    color: #000;
}
.table tr {
    background: #f8f8f8;
}
.table tr:nth-child(even) {
    background: var(--pPage);
}
.table th {
    height: 37px;
}
.table th,
.table td {
    border: none;
    text-align: left;
    padding: 8px;
}

.float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #355664;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
}

.my-float {
    margin-top: 22px;
}

@media print {
    margin: 0cm !important;
    body {
        margin: 0;
    }
    .noprint {
        display: none;
    }
    .kontak,
    .footer,
    .alamat {
        width: 100%;
        display: block;
        text-align: center;
    }
    .invoice-box table tr.top table td {
        width: 100%;
        display: block;
        text-align: center;
    }

    .invoice-box table tr.information table td {
        width: 100%;
        display: block;
        text-align: center;
    }

    #main {
        display: none;
    }
    #printarea {
        display: inline-block;
        position: absolute;
        top: 0px;
    }
    .cetak {
        overflow: auto;
        width: 99%;
        text-align: center;
    }
    /* .table th,
  .table td { border:1px solid #ccc; text-align:left; padding:8px; } */
}

textarea {
    resize: vertical;
}

a {
    text-decoration: none;
}
