.apl02 {
    border-collapse: collapse;
}

.l4bel {
    width: 60px;
}

.pam1 {
    height: 5px;
    background-color: #fac090;
}

.pam1 h5 {
    text-align: center;
}

.uk {
    width: 25%;
}

.elemen {
    border-bottom: 0px;
}

.bg1 {
    background-color: #fac090;
}

a {
    text-decoration: none;
}

select {
    width: 100% !important;
}

input[type="date"] {
    width: 220px !important;
}

.element {
    width: 100%;
}

.kbk {
    width: 180px;
}

.hide {
    display: none;
}

[class*="l-"] {
    float: none;
}

.swal-button--confirm,
.swal-button--cancel {
    background-color: #072d3a;
    color: #fff;
}

.swal-button--confirm:hover,
.swal-button--cancel:hover {
    background-color: #072d3a !important;
}

output {
    display: block;
}
