 td {
    border-collapse: collapse;
    border: solid 1px #000;
  }

  .align-center {
    text-align: center;
}



.invoice-box table {
    width: 100%;
    line-height: inherit;
    text-align: left;
}

